<a href="https://colab.research.google.com/github/StudentHagal/Thesis/blob/main/User_Prediction_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0) Preparation

## Load Requirements

In [ ]:
# Libraries
import sys
import numpy as np
import pandas as pd
import sklearn
import joblib
import hashlib
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

#Extension
!pip install ipython-autotime
%load_ext autotime

print('Load completed')

Collecting ipython-autotime
  Downloading ipython_autotime-0.3.1-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.1.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.3.1
Load completed
time: 1.85 ms (started: 2021-10-17 09:09:41 +00:00)

In [ ]:
# Check the versions of libraries
# !!! WARNING !!!
# Important because model result may be different for other version
 
print('Python: {}'.format(sys.version))
print('numpy: {}'.format(np.__version__))
print('pandas: {}'.format(pd.__version__))
print('sklearn: {}'.format(sklearn.__version__))
print('joblib: {}'.format(joblib.__version__))

Python: 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
numpy: 1.19.5
pandas: 1.1.5
sklearn: 0.22.2.post1
joblib: 1.0.1
time: 9.62 ms (started: 2021-10-17 09:09:41 +00:00)

## Global Variables

In [ ]:
#Global variables declaration

#Column names for dataset
dir = '/content/drive/MyDrive/Colab Notebooks/ML Resources/models/'
process_dir = '/content/drive/MyDrive/Colab Notebooks/ML Resources/Processed Data/'
col_names = ['No', 'Datetime', 'Control_Mode', 'L1', 'L2', 'L3', 'Frequency', 'kVA_Total',           
             'kVA_L1', 'kVA_L2', 'kVA_L3', 'KVAr', 'Oil_Pressure', 'Coolant_Temp', 
             'Charger_Alternator', 'PF_Avg', 'PF_L1', 'PF_L2', 
             'PF_L3', 'L1_N', 'L2_N', 'L3_N', 'Source_Ext_Voltage', 'ECU_Temp', 
             'RPM', 'Train_code']
features = ['Oil_Pressure', 'Coolant_Temp', 'PF_Avg', 'ECU_Temp']
#Unused columns in dataset
unused_col = ['No', 'Datetime', 'Control_Mode', 'L1', 'L2', 'L3', 'Frequency',                       
              'kVA_Total', 'kVA_L1', 'kVA_L2', 'kVA_L3', 'KVAr', 'Charger_Alternator',
              'RPM', 'PF_L1', 'PF_L2', 'PF_L3', 'L1_N','L2_N', 'L3_N',
              'Source_Ext_Voltage', 'Train_code']

#Import and load Model
Opsi1_LR = joblib.load(dir+'Opsi1_LR.joblib')
Opsi1_KNN = joblib.load(dir+'Opsi1_KNN.joblib')
Opsi1_DT = joblib.load(dir+'Opsi1_DT.joblib')
Opsi1_SVM = joblib.load(dir+'Opsi1_SVM.joblib')
Opsi1_RF = joblib.load(dir+'Opsi1_RF.joblib')
Opsi1_LDA = joblib.load(dir+'Opsi1_LDA.joblib')
Opsi1_NB = joblib.load(dir+'Opsi1_NB.joblib')

Opsi2_LR = joblib.load(dir+'Opsi2_LR.joblib')
Opsi2_KNN = joblib.load(dir+'Opsi2_KNN.joblib')
Opsi2_DT = joblib.load(dir+'Opsi2_DT.joblib')
Opsi2_SVM = joblib.load(dir+'Opsi2_SVM.joblib')
Opsi2_RF = joblib.load(dir+'Opsi2_RF.joblib')
Opsi2_LDA = joblib.load(dir+'Opsi2_LDA.joblib')
Opsi2_NB = joblib.load(dir+'Opsi2_NB.joblib')

Opsi3_LR = joblib.load(dir+'Opsi3_LR.joblib')
Opsi3_KNN = joblib.load(dir+'Opsi3_KNN.joblib')
Opsi3_DT = joblib.load(dir+'Opsi3_DT.joblib')
Opsi3_SVM = joblib.load(dir+'Opsi3_SVM.joblib')
Opsi3_RF = joblib.load(dir+'Opsi3_RF.joblib')
Opsi3_LDA = joblib.load(dir+'Opsi3_LDA.joblib')
Opsi3_NB = joblib.load(dir+'Opsi3_NB.joblib')

Opsi4_LR = joblib.load(dir+'Opsi4_LR.joblib')
Opsi4_KNN = joblib.load(dir+'Opsi4_KNN.joblib')
Opsi4_DT = joblib.load(dir+'Opsi4_DT.joblib')
Opsi4_SVM = joblib.load(dir+'Opsi4_SVM.joblib')
Opsi4_RF = joblib.load(dir+'Opsi4_RF.joblib')
Opsi4_LDA = joblib.load(dir+'Opsi4_LDA.joblib')
Opsi4_NB = joblib.load(dir+'Opsi4_NB.joblib')

RUL_OLS = joblib.load(dir+'model_OLS.joblib')
RUL_Ridge = joblib.load(dir+'model_Ridge.joblib')
RUL_RFreg = joblib.load(dir+'model_RFreg.joblib')

time: 9.4 s (started: 2021-10-17 09:09:41 +00:00)

## Function Declaration

In [ ]:
# Function that returns the SHA-2 hash of the file
def hash_file(filepath):

   # make a hash object with SHA-2
   h = hashlib.sha256()

   # open file for reading in binary mode
   with open(filepath,'rb') as file:
       # loop till the end of the file
       chunk = 0
       while chunk != b'':
           # read only 1024 bytes at a time
           chunk = file.read(1024)
           h.update(chunk)

   # return the hex representation of digest
   return h.hexdigest()

time: 7.39 ms (started: 2021-10-17 09:09:50 +00:00)

# 1) Prediction Test

## Manual Input

In [ ]:
# user input manually for each sensor value
print('-----Prediction Test on ML Model-----')
print('Enter value for Oil_Pressure sensor:')
feature1 = float(input())
print('Enter value for Coolant_Temp sensor:')
feature2 = float(input())
print('Enter value for PF_Avg sensor:')
feature3 = float(input())
print('Enter value for ECU_Temp sensor:')
feature4 = float(input())

df_input = pd.DataFrame({'Oil_Pressure': [feature1], 'Coolant_Temp': [feature2],
                         'PF_Avg':[feature3], 'ECU_Temp':[feature4]})

-----Prediction Test on ML Model-----
Enter value for Oil_Pressure sensor:
610
Enter value for Coolant_Temp sensor:
79.5
Enter value for PF_Avg sensor:
0.86
Enter value for ECU_Temp sensor:
47
time: 32.2 s (started: 2021-10-17 09:09:51 +00:00)

In [ ]:
df_input

   Oil_Pressure  Coolant_Temp  PF_Avg  ECU_Temp
0         610.0          79.5    0.86      47.0

time: 24 ms (started: 2021-10-17 09:10:23 +00:00)

### Opsi 1

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi1_LR.predict(df_input)
predictions_KNN = Opsi1_KNN.predict(df_input)
predictions_DT = Opsi1_DT.predict(df_input)
predictions_SVM = Opsi1_SVM.predict(df_input)
predictions_RF = Opsi1_RF.predict(df_input)
predictions_LDA = Opsi1_LDA.predict(df_input)
predictions_NB = Opsi1_NB.predict(df_input)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

       LR     KNN      DT      SVM      RF     LDA           NB
0  Normal  Normal  Normal  Outlier  Normal  Normal  Maintenance

time: 39.8 ms (started: 2021-10-17 09:10:23 +00:00)

### Opsi 2

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi2_LR.predict(df_input)
predictions_KNN = Opsi2_KNN.predict(df_input)
predictions_DT = Opsi2_DT.predict(df_input)
predictions_SVM = Opsi2_SVM.predict(df_input)
predictions_RF = Opsi2_RF.predict(df_input)
predictions_LDA = Opsi2_LDA.predict(df_input)
predictions_NB = Opsi2_NB.predict(df_input)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

       LR     KNN      DT     SVM      RF     LDA      NB
0  Normal  Normal  Normal  Normal  Normal  Normal  Normal

time: 41.6 ms (started: 2021-10-17 09:10:23 +00:00)

### Opsi 3

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi3_LR.predict(df_input)
predictions_KNN = Opsi3_KNN.predict(df_input)
predictions_DT = Opsi3_DT.predict(df_input)
predictions_SVM = Opsi3_SVM.predict(df_input)
predictions_RF = Opsi3_RF.predict(df_input)
predictions_LDA = Opsi3_LDA.predict(df_input)
predictions_NB = Opsi3_NB.predict(df_input)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

    LR  KNN   DT  SVM   RF  LDA   NB
0  2.0  2.0  2.0  2.0  2.0  2.0  2.0

time: 39.7 ms (started: 2021-10-17 09:10:23 +00:00)

### Opsi 4

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi4_LR.predict(df_input)
predictions_KNN = Opsi4_KNN.predict(df_input)
predictions_DT = Opsi4_DT.predict(df_input)
predictions_SVM = Opsi4_SVM.predict(df_input)
predictions_RF = Opsi4_RF.predict(df_input)
predictions_LDA = Opsi4_LDA.predict(df_input)
predictions_NB = Opsi4_NB.predict(df_input)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

    LR  KNN   DT  SVM   RF  LDA   NB
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

time: 38.7 ms (started: 2021-10-17 09:10:23 +00:00)

### RUL

In [ ]:
#RUL result is MTBF_Condition-Prediction (differ with each dataset)
predictions_OLS = RUL_OLS.predict(df_input)
predictions_Ridge = RUL_Ridge.predict(df_input)
predictions_RFreg = RUL_RFreg.predict(df_input)

df_RUL = pd.DataFrame({'OLS': 3.914026-predictions_OLS, 'Ridge': 3.914026-predictions_Ridge,
                         'RF-reg':3.914026-predictions_RFreg})
df_RUL

       OLS     Ridge    RF-reg
0  2.32636  2.371745  2.829597

time: 27.7 ms (started: 2021-10-17 09:10:23 +00:00)

## From csv file

In [ ]:
#user input path to file
print('-----Prediction Test on ML Model-----')
print('Enter value for File path: ')
file_path = str(input())

-----Prediction Test on ML Model-----
Enter value for File path:
/content/drive/MyDrive/Colab Notebooks/ML Resources/Raw Data/Format csv/database.csv
time: 5.09 s (started: 2021-10-17 09:10:23 +00:00)

In [ ]:
hash_file(file_path)

'10f68054068bc4ac4d7fee65e8fd7a184151e3ce3abce5d85350fc13c412d93b'

time: 746 ms (started: 2021-10-17 09:10:28 +00:00)

In [ ]:
df_file = pd.read_csv(file_path, names=col_names)
df_file

          No        Datetime  Control_Mode  ...  ECU_Temp     RPM  Train_code
0       1.10  01-08-20 02:03           2.0  ...   32767.0  1499.0   MP3-01605
1       1.20  01-08-20 03:00           2.0  ...   32767.0  1501.0   MP3-01605
2       1.30  01-08-20 04:00           2.0  ...   32767.0  1499.0   MP3-01605
3       1.40  01-08-20 05:00           2.0  ...   32767.0  1500.0   MP3-01605
4       1.50  01-08-20 06:00           2.0  ...   32767.0  1500.0   MP3-01605
...      ...             ...           ...  ...       ...     ...         ...
34352  31.39  31-12-20 13:00           2.0  ...   32767.0  1500.0     P-01914
34353  31.40  31-12-20 14:00           2.0  ...   32767.0  1500.0     P-01914
34354  31.41  31-12-20 15:00           2.0  ...   32767.0  1499.0     P-01914
34355  31.42  31-12-20 16:00           0.0  ...       0.0     0.0     P-01914
34356  31.43  31-12-20 17:05           0.0  ...       0.0     0.0     P-01914

[34357 rows x 26 columns]

time: 213 ms (started: 2021-10-17 09:10:29 +00:00)

In [ ]:
df_file.drop(labels=unused_col, axis=1, inplace=True)
df_file

       Oil_Pressure  Coolant_Temp  PF_Avg  ECU_Temp
0             636.0          81.0    0.83   32767.0
1             636.0          81.0    0.76   32767.0
2             632.0          82.0    0.77   32767.0
3             632.0          82.0    0.78   32767.0
4             628.0          82.0    0.78   32767.0
...             ...           ...     ...       ...
34352         600.0          83.0    0.88   32767.0
34353         604.0          82.0    0.88   32767.0
34354         604.0          81.0    0.87   32767.0
34355           0.0           0.0    0.00       0.0
34356           0.0           0.0    0.00       0.0

[34357 rows x 4 columns]

time: 24.1 ms (started: 2021-10-17 09:10:29 +00:00)

In [ ]:
df_file = df_file.dropna()

time: 25.6 ms (started: 2021-10-17 09:10:29 +00:00)

In [ ]:
df_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33832 entries, 0 to 34356
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Oil_Pressure  33832 non-null  float64
 1   Coolant_Temp  33832 non-null  float64
 2   PF_Avg        33832 non-null  float64
 3   ECU_Temp      33832 non-null  float64
dtypes: float64(4)
memory usage: 1.3 MB
time: 12.8 ms (started: 2021-10-17 09:10:29 +00:00)

### Opsi 1

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi1_LR.predict(df_file)
predictions_KNN = Opsi1_KNN.predict(df_file)
predictions_DT = Opsi1_DT.predict(df_file)
predictions_SVM = Opsi1_SVM.predict(df_file)
predictions_RF = Opsi1_RF.predict(df_file)
predictions_LDA = Opsi1_LDA.predict(df_file)
predictions_NB = Opsi1_NB.predict(df_file)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

            LR      KNN       DT      SVM       RF      LDA       NB
0      Outlier  Outlier   Normal  Outlier   Normal  Outlier  Outlier
1      Outlier  Outlier   Normal  Outlier  Outlier  Outlier  Outlier
2      Outlier  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier
3      Outlier  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier
4      Outlier  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier
...        ...      ...      ...      ...      ...      ...      ...
33827  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier
33828  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier  Outlier
33829  Outlier  Outlier   Normal  Outlier   Normal  Outlier  Outlier
33830  Outlier  Outlier  Outlier  Outlier  Outlier   Normal  Outlier
33831  Outlier  Outlier  Outlier  Outlier  Outlier   Normal  Outlier

[33832 rows x 7 columns]

time: 2.78 s (started: 2021-10-17 09:10:29 +00:00)

In [ ]:
#Export prediction result
df_result1 = pd.concat([df_file.reset_index(drop=True), df_predict.reset_index(drop=True)],axis=1)
df_result1.to_csv(process_dir+'opsi1_classification.csv')
df_result1

       Oil_Pressure  Coolant_Temp  PF_Avg  ...       RF      LDA       NB
0             636.0          81.0    0.83  ...   Normal  Outlier  Outlier
1             636.0          81.0    0.76  ...  Outlier  Outlier  Outlier
2             632.0          82.0    0.77  ...  Outlier  Outlier  Outlier
3             632.0          82.0    0.78  ...  Outlier  Outlier  Outlier
4             628.0          82.0    0.78  ...  Outlier  Outlier  Outlier
...             ...           ...     ...  ...      ...      ...      ...
33827         600.0          83.0    0.88  ...  Outlier  Outlier  Outlier
33828         604.0          82.0    0.88  ...  Outlier  Outlier  Outlier
33829         604.0          81.0    0.87  ...   Normal  Outlier  Outlier
33830           0.0           0.0    0.00  ...  Outlier   Normal  Outlier
33831           0.0           0.0    0.00  ...  Outlier   Normal  Outlier

[33832 rows x 11 columns]

time: 305 ms (started: 2021-10-17 09:10:32 +00:00)

### Opsi 2

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi2_LR.predict(df_file)
predictions_KNN = Opsi2_KNN.predict(df_file)
predictions_DT = Opsi2_DT.predict(df_file)
predictions_SVM = Opsi2_SVM.predict(df_file)
predictions_RF = Opsi2_RF.predict(df_file)
predictions_LDA = Opsi2_LDA.predict(df_file)
predictions_NB = Opsi2_NB.predict(df_file)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

                LR          KNN  ...          LDA           NB
0      Maintenance  Maintenance  ...  Maintenance  Maintenance
1      Maintenance  Maintenance  ...  Maintenance  Maintenance
2      Maintenance  Maintenance  ...  Maintenance  Maintenance
3      Maintenance  Maintenance  ...  Maintenance  Maintenance
4      Maintenance  Maintenance  ...  Maintenance  Maintenance
...            ...          ...  ...          ...          ...
33827  Maintenance  Maintenance  ...  Maintenance  Maintenance
33828  Maintenance  Maintenance  ...  Maintenance  Maintenance
33829  Maintenance  Maintenance  ...  Maintenance  Maintenance
33830  Maintenance  Maintenance  ...  Maintenance  Maintenance
33831  Maintenance  Maintenance  ...  Maintenance  Maintenance

[33832 rows x 7 columns]

time: 1.51 s (started: 2021-10-17 09:10:32 +00:00)

In [ ]:
#Export prediction result
df_result2 = pd.concat([df_file.reset_index(drop=True), df_predict.reset_index(drop=True)],axis=1)
df_result2.to_csv(process_dir+'opsi2_classification.csv')
df_result2

       Oil_Pressure  Coolant_Temp  ...          LDA           NB
0             636.0          81.0  ...  Maintenance  Maintenance
1             636.0          81.0  ...  Maintenance  Maintenance
2             632.0          82.0  ...  Maintenance  Maintenance
3             632.0          82.0  ...  Maintenance  Maintenance
4             628.0          82.0  ...  Maintenance  Maintenance
...             ...           ...  ...          ...          ...
33827         600.0          83.0  ...  Maintenance  Maintenance
33828         604.0          82.0  ...  Maintenance  Maintenance
33829         604.0          81.0  ...  Maintenance  Maintenance
33830           0.0           0.0  ...  Maintenance  Maintenance
33831           0.0           0.0  ...  Maintenance  Maintenance

[33832 rows x 11 columns]

time: 309 ms (started: 2021-10-17 09:10:34 +00:00)

### Opsi 3

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi3_LR.predict(df_file)
predictions_KNN = Opsi3_KNN.predict(df_file)
predictions_DT = Opsi3_DT.predict(df_file)
predictions_SVM = Opsi3_SVM.predict(df_file)
predictions_RF = Opsi3_RF.predict(df_file)
predictions_LDA = Opsi3_LDA.predict(df_file)
predictions_NB = Opsi3_NB.predict(df_file)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

        LR  KNN   DT  SVM   RF  LDA   NB
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...
33827  0.0  0.0  0.0  0.0  0.0  0.0  0.0
33828  0.0  0.0  0.0  0.0  0.0  0.0  0.0
33829  0.0  0.0  0.0  0.0  0.0  0.0  0.0
33830  2.0  2.0  2.0  2.0  2.0  2.0  2.0
33831  2.0  2.0  2.0  2.0  2.0  2.0  2.0

[33832 rows x 7 columns]

time: 7.99 s (started: 2021-10-17 09:10:34 +00:00)

In [ ]:
#Export prediction result
df_result3 = pd.concat([df_file.reset_index(drop=True), df_predict.reset_index(drop=True)],axis=1)
df_result3.to_csv(process_dir+'opsi3_classification.csv')
df_result3

       Oil_Pressure  Coolant_Temp  PF_Avg  ECU_Temp  ...  SVM   RF  LDA   NB
0             636.0          81.0    0.83   32767.0  ...  0.0  0.0  0.0  0.0
1             636.0          81.0    0.76   32767.0  ...  0.0  0.0  0.0  0.0
2             632.0          82.0    0.77   32767.0  ...  0.0  0.0  0.0  0.0
3             632.0          82.0    0.78   32767.0  ...  0.0  0.0  0.0  0.0
4             628.0          82.0    0.78   32767.0  ...  0.0  0.0  0.0  0.0
...             ...           ...     ...       ...  ...  ...  ...  ...  ...
33827         600.0          83.0    0.88   32767.0  ...  0.0  0.0  0.0  0.0
33828         604.0          82.0    0.88   32767.0  ...  0.0  0.0  0.0  0.0
33829         604.0          81.0    0.87   32767.0  ...  0.0  0.0  0.0  0.0
33830           0.0           0.0    0.00       0.0  ...  2.0  2.0  2.0  2.0
33831           0.0           0.0    0.00       0.0  ...  2.0  2.0  2.0  2.0

[33832 rows x 11 columns]

time: 410 ms (started: 2021-10-17 09:10:42 +00:00)

### Opsi 4

In [ ]:
# print prediction result for each model from user input
predictions_LR = Opsi4_LR.predict(df_file)
predictions_KNN = Opsi4_KNN.predict(df_file)
predictions_DT = Opsi4_DT.predict(df_file)
predictions_SVM = Opsi4_SVM.predict(df_file)
predictions_RF = Opsi4_RF.predict(df_file)
predictions_LDA = Opsi4_LDA.predict(df_file)
predictions_NB = Opsi4_NB.predict(df_file)

df_predict = pd.DataFrame({'LR': predictions_LR, 'KNN': predictions_KNN,
                         'DT':predictions_DT, 'SVM':predictions_SVM,
                         'RF':predictions_RF, 'LDA':predictions_LDA,
                         'NB':predictions_NB})
df_predict

        LR  KNN   DT  SVM   RF  LDA   NB
0      1.0  1.0  1.0  1.0  1.0  1.0  1.0
1      1.0  1.0  1.0  1.0  1.0  1.0  1.0
2      1.0  1.0  1.0  1.0  1.0  1.0  1.0
3      1.0  1.0  1.0  1.0  1.0  1.0  1.0
4      1.0  1.0  1.0  1.0  1.0  1.0  1.0
...    ...  ...  ...  ...  ...  ...  ...
33827  1.0  1.0  1.0  1.0  1.0  1.0  1.0
33828  1.0  1.0  1.0  1.0  1.0  1.0  1.0
33829  1.0  1.0  1.0  1.0  1.0  1.0  1.0
33830  0.0  0.0  0.0  0.0  0.0  0.0  0.0
33831  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[33832 rows x 7 columns]

time: 7.89 s (started: 2021-10-17 09:10:43 +00:00)

In [ ]:
#Export prediction result
df_result4 = pd.concat([df_file.reset_index(drop=True), df_predict.reset_index(drop=True)],axis=1)
df_result4.to_csv(process_dir+'opsi4_classification.csv')
df_result4

       Oil_Pressure  Coolant_Temp  PF_Avg  ECU_Temp  ...  SVM   RF  LDA   NB
0             636.0          81.0    0.83   32767.0  ...  1.0  1.0  1.0  1.0
1             636.0          81.0    0.76   32767.0  ...  1.0  1.0  1.0  1.0
2             632.0          82.0    0.77   32767.0  ...  1.0  1.0  1.0  1.0
3             632.0          82.0    0.78   32767.0  ...  1.0  1.0  1.0  1.0
4             628.0          82.0    0.78   32767.0  ...  1.0  1.0  1.0  1.0
...             ...           ...     ...       ...  ...  ...  ...  ...  ...
33827         600.0          83.0    0.88   32767.0  ...  1.0  1.0  1.0  1.0
33828         604.0          82.0    0.88   32767.0  ...  1.0  1.0  1.0  1.0
33829         604.0          81.0    0.87   32767.0  ...  1.0  1.0  1.0  1.0
33830           0.0           0.0    0.00       0.0  ...  0.0  0.0  0.0  0.0
33831           0.0           0.0    0.00       0.0  ...  0.0  0.0  0.0  0.0

[33832 rows x 11 columns]

time: 389 ms (started: 2021-10-17 09:10:50 +00:00)

### RUL

In [ ]:
print('Enter value for MTBM:')
MTBM = float(input())

Enter value for MTBM:
3.914
time: 7.77 s (started: 2021-10-17 09:10:51 +00:00)

In [ ]:
#RUL result is MTBM_Condition-Prediction (differ with each dataset)
predictions_OLS = RUL_OLS.predict(df_file)
predictions_Ridge = RUL_Ridge.predict(df_file)
predictions_RFreg = RUL_RFreg.predict(df_file)

df_RUL = pd.DataFrame({'OLS': MTBM-predictions_OLS, 'Ridge': MTBM-predictions_Ridge,
                         'RF-reg':MTBM-predictions_RFreg})
df_RUL

                OLS         Ridge     RF-reg
0      12398.842019  12523.345901  -2.642500
1      12400.560271  12524.552338   2.112181
2      12400.753493  12524.804756   2.176042
3      12400.508029  12524.632407   2.176042
4      12400.741313  12524.869357   2.176042
...             ...           ...        ...
33827  12400.125062  12524.992336   2.369000
33828  12399.686375  12524.567570   0.744071
33829  12399.726438  12524.552101 -11.841078
33830     24.875294     20.410360  -0.415567
33831     24.875294     20.410360  -0.415567

[33832 rows x 3 columns]

time: 335 ms (started: 2021-10-17 09:10:59 +00:00)

In [ ]:
#Export prediction result
df_resultRUL = pd.concat([df_file.reset_index(drop=True), df_RUL.reset_index(drop=True)],axis=1)
df_resultRUL.to_csv(process_dir+'RUL_regression.csv')
df_resultRUL

       Oil_Pressure  Coolant_Temp  ...         Ridge     RF-reg
0             636.0          81.0  ...  12523.345901  -2.642500
1             636.0          81.0  ...  12524.552338   2.112181
2             632.0          82.0  ...  12524.804756   2.176042
3             632.0          82.0  ...  12524.632407   2.176042
4             628.0          82.0  ...  12524.869357   2.176042
...             ...           ...  ...           ...        ...
33827         600.0          83.0  ...  12524.992336   2.369000
33828         604.0          82.0  ...  12524.567570   0.744071
33829         604.0          81.0  ...  12524.552101 -11.841078
33830           0.0           0.0  ...     20.410360  -0.415567
33831           0.0           0.0  ...     20.410360  -0.415567

[33832 rows x 7 columns]

time: 374 ms (started: 2021-10-17 09:10:59 +00:00)